---
- name: Check if pull-secret is provided
  ansible.builtin.fail:
    msg: "You need to provide pull-secret.txt content into the var!"
  when: openshift_pull_secret | length < 100

- name: Check system version compatibility
  ansible.builtin.fail:
    msg: "The system is not compatible"
  when: (ansible_distribution_version != '9.4') or
        (ansible_distribution | lower != 'redhat')

- name: Configure RHEL subscription
  ansible.builtin.include_tasks: subscription.yaml

- name: Prepare host
  ansible.builtin.include_tasks: pre.yaml

- name: Prepare firewall
  ansible.builtin.include_tasks: firewall.yaml

- name: Use ramdisk for /var/lib/microshift
  ansible.builtin.include_tasks: ramdisk.yaml
  when: ramdisk

- name: Create VG and LVM for openshift-storage topolvm
  ansible.builtin.include_tasks: openshift-storage.yaml

- name: Setup Microshift
  ansible.builtin.include_tasks: microshift.yaml

- name: Post setup Microshift steps
  ansible.builtin.include_tasks: post.yaml

- name: Verify that Microshift deployment is finished
  ansible.builtin.include_tasks: wait-for-microshift.yaml

- name: Configure DNSMasq
  ansible.builtin.include_tasks: dnsmasq.yaml
  when: configure_dnsmasq

- name: Setup OLM
  ansible.builtin.include_tasks: olm.yaml
  when: setup_olm
