---
- name: Install microshift from Copr
  when: use_copr_microshift
  block:
    - name: Enable copr repository
      become: true
      ansible.builtin.shell: |
        dnf copr enable -y @redhat-et/microshift
      changed_when: true

    - name: Install microshift package
      become: true
      ansible.builtin.yum:
        name: microshift
        state: present
      notify: Restart Microshift

- name: Install microshift package
  become: true
  ansible.builtin.yum:
    name: microshift
    state: present
    enablerepo: microshift-rpms,microshift-deps-rpms
  notify: Restart Microshift
  when: not use_copr_microshift

- name: Change Microshift configuration files
  become: true
  ansible.builtin.copy:
    content: |
      {{ lookup('vars', item.var_name) | to_nice_yaml(indent=2) }}
    dest: "/etc/microshift/{{ item.dest }}"
    mode: "0644"
    owner: root
    group: root
  loop:
    - var_name: microshift_config
      dest: config.yaml
    - var_name: microshift_lmvd
      dest: lvmd.yaml
    - var_name: microshift_ovn
      dest: ovn.yaml
  when: vars[item.var_name]

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Wait for kubeconfig file after deploying Microshift
  become: true
  ansible.builtin.wait_for:
    path: /var/lib/microshift/resources/kubeadmin/kubeconfig
    search_regex: microshift
    delay: 5
    timeout: 300

- name: Create kube config directory
  ansible.builtin.file:
    path: ~/.kube
    state: directory
    mode: "0755"

- name: Copy kubeconfig
  become: true
  ansible.builtin.copy:
    src: /var/lib/microshift/resources/kubeadmin/kubeconfig
    dest: "~{{ ansible_user }}/.kube/config"
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
